<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @designer.name %>
</p>

<p>
  <strong>Pw:</strong>
  <%= @designer.pw %>
</p>

<%= link_to 'Edit', edit_designer_path(@designer) %> |
<%= link_to 'Back', designers_path %>
